// Font Import
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
// Colors
$black: #262626;
$orange: #f2a03d;
$yellow: #c6b117;
$grey: #383838;
$white: #efefef;
$background: #e9ecef;
$red: #eb0c0c;
$green: #489c13;
$blue: #119abf;
$darkblue: #1b52a4;
$pink: #e96d82;
$purple: #ac25d2;
$photoshop: #8bc3fc;
$illustrator: #d0790f;
//Fonts
$font-primary: "Roboto", sans-serif;
$font-secondary: "Poppins", sans-serif;
$font-extra: "Montserrat", sans-serif;
