// Hero

.buttons {
  display: flex;
  justify-content: space-between;
  width: 47%;
}

.cv-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: $blue;
  color: white;
  width: 200px;
  height: 45px;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  text-decoration: none;
  &:hover {
    background-color: $blue;

    color: $orange;
    transform: translateY(-9px);
  }
}

a:hover {
  text-decoration: none !important;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  color: white;
  width: 200px;
  height: 45px;
  text-decoration: none;
  &:hover {
    color: $orange;
    background-color: rgb(0, 0, 0);
    transition: all ease 0.3s;
  }
}

a:hover {
  text-decoration: none;
}

// Buttons from cards overlay

.visit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  box-shadow: rgba(24, 24, 24, 0.358);
}

.visit-btn:hover {
  color: $orange;
  background-color: rgb(0, 0, 0);
}

.cv-btn-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
