.footer-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: $white;
  width: 100%;
  min-height: 20vh;
  & p {
    font-size: 18px;
    font-family: $font-secondary;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: $white;
  width: 100%;
  min-height: 20vh;
}

footer p {
  color: white;
  margin-top: 18px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.social-media-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  font-size: 40px;
  vertical-align: middle;
}

.social-media-icons span:hover {
  cursor: pointer;
  color: $black;
}

.social-media-icons span {
  display: flex;
  align-items: center;
  vertical-align: middle;
  color: $blue;

  & p {
    font-size: 20px;
    font-family: $font-secondary;
    margin-left: 10px;
    color: $black;
  }
}
