// Smaller Screen
@media screen and (max-width: 750px) {
  body {
    background-color: $background;
  }

  // Introduction

  .presentation {
    flex: 0;
    position: relative;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 414px;
    position: relative;
  }

  .portrait-pic {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.413) 30%, rgba(247, 242, 234, 0.05) 100%), url(http://www.babuevs.no/portfolio/media/img/shamil10.jpg);
    background-size: cover;
    flex: 1;
  }

  .information h1 {
    font-size: 1.5rem !important;
    color: $black;
  }

  .information p {
    font-family: $font-secondary;
    font-size: 0.6rem !important;
    color: $black;
  }

  .information h2 {
    font-size: 0.8rem !important;
    color: $orange;
  }

  .information {
    justify-content: center;
    position: absolute;
    border-radius: 20px;
    top: 340px;
    bottom: 0;
    right: 85px;
    left: -129px;
  }

  .web-icons {
    font-size: 9px;
  }

  .portfolio-btn {
    display: none;
  }

  #hide5 {
    display: none;
  }

  // Services

  .dot {
    padding: 5px;
    margin: 70px;
  }

  .header {
    margin-top: 70px;
  }

  .header h2 {
    color: $black;
    font-family: $font-secondary;
    font-size: 20px;
  }

  .services {
    background-color: #e9ecef;
    display: flex;
    min-height: 10vh;
  }

  .service-icons {
    display: flex;
    color: $black;
    flex-direction: row;
    font-size: 3px;
    margin-top: -80px;
  }

  .service-icons :not(h4) {
    color: $blue;
  }
  .service-icons h4 {
    font-size: 8px;
    color: $black;
  }

  .dot {
    display: none;
  }

  .description {
    font-size: 28px;
    text-align: center;
    padding: 40px;
    margin: 0px;
    margin-bottom: 70px;
  }
  .description p {
    color: $black;
    font-size: 14px;
    margin-bottom: 0px;
  }

  // Clients

  .clients-section h3 {
    font-size: 1.3rem;
    margin-top: 1px;
    margin-left: 8px;
    font-family: "Poppins", sans-serif;
  }

  .clients-section h2 {
    font-size: 2.5rem;
    margin-left: 8px;
  }

  .clients-small-box {
    height: 114px;
  }

  .clients-big-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
    height: 246px;
    width: 100%;
    z-index: -1;
    top: 98%;
  }

  .clients-images img {
    height: 51px;
  }

  #hide {
    display: none;
  }
  // Icons

  .switch {
    display: none;
  }

  .contact-btn {
    border: 1px solid $orange;
    background-color: transparent;
    text-transform: uppercase;
    font-family: $font-secondary;
    font-size: 13px;
    padding: 2px;
    height: 33px;

    &:hover {
      background-color: rgba($orange, $alpha: 0.1);
    }
  }

  // Projects

  .projects {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .projects-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 1.9rem;
    margin: 5rem;
    padding-bottom: 10rem;
    margin-top: 10px;
  }

  .projects-text h2 {
    font-size: 23px;
    font-family: $font-secondary;
    padding: 8px;
    margin: 30px;
  }

  .slider {
    display: grid;
    height: auto;
  }

  .custom-shape-divider-bottom-1611286464 svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 77px;
  }

  .projects-wrapper img {
    height: 200px !important;
    width: 100% !important;
  }

  .img-overlay {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    transform: translate(0%, 30%);
  }

  .slider-media {
    object-fit: cover;
    height: 400px !important;
  }
  .slider-media img {
    height: 400px !important;
  }

  .slider-details h4 {
    display: flex;
    font-size: 17px;
    padding-bottom: 10px;
    font-family: $font-secondary;
  }

  .title p {
    display: none;
  }

  .fa-html5 {
    color: $black;
    height: 40px;
  }

  .fa-css3-alt {
    color: $red;
    height: 40px;
  }

  .fa-js {
    color: $yellow;
    height: 40px;
  }

  .fa-react {
    color: $blue;
  }

  .fa-sass {
    color: $purple;
  }
  .fa-github {
    color: $black;
  }

  .fa-bootstrap {
    color: $purple;
  }

  .fa-node {
    color: $blue;
  }
  // Skills

  .skills {
    display: flex;
    flex-direction: column;
  }

  .container {
    margin-top: -150px;
  }
  .container p {
    font-size: 2vh !important;
  }

  .app-wrapper {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .footer {
    background-color: $black;
    padding: 30px;
    text-align: center;
    font-size: 10px;
  }

  .footer-link a {
    padding: 20px;
    text-decoration: none;
    color: $orange;
  }

  .footer-link a:hover {
    color: $blue;
  }

  .copyright {
    color: $white;
    margin-top: 20px;
    font-family: $font-secondary;
    font-size: 20px;
  }

  .custom-shape-divider-bottom-1611286464 .shape-fill {
    fill: #e9ecef !important;
  }

  .switch {
    display: none;
  }
}

// Macbooks or 13" higher
@media screen and (min-width: 900px) {
  .projects-wrapper {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .information {
    margin-left: 43px;
    width: 400px;
  }
  .information h1 {
    font-size: 40px;
  }

  .information h2 {
    font-size: 18px;
  }

  .projects {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .presentation {
    margin-right: 120px;
    justify-content: center;
  }

  .portrait-pic {
    background-size: 650px;
  }

  .container p {
    font-size: 30px !important;
  }
}

// Bigger Screens

@media screen and (min-width: 1400px) {
  .projects-wrapper {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
  }

  .projects {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .react-multi-carousel-dot-list {
    margin: 47px !important;
  }
}
